

<div class="row search_page" > 

	

	<!-- <div class="mushroom col-lg-3 col-md-3 col-sm-6 col-xs-6 left">
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div class="black"></div>   
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div></div>  
	  <div></div>
	  <div></div>
	  <div style="clear: both;"></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="green"></div>
	  <div class="green"></div>  
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>  
	  <div></div>
	  <div style="clear: both;"></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div class="green"></div>  
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>  
	  <div></div>
	  <div style="clear: both;"></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div class="green"></div> 
	  <div class="green"></div>  
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div> 
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>  
	  <div class="black"></div>
	  <div></div>
	  <div style="clear: both;"></div>
	  <div class="black"></div>
	  <div></div>
	  <div class="green"></div>
	  <div class="green"></div> 
	  <div></div>
	  <div></div>
	  <div></div> 
	  <div></div> 
	  <div class="green"></div> 
	  <div class="green"></div> 
	  <div></div>
	  <div></div>
	  <div></div>  
	  <div class="black"></div>
	  <div></div>
	  <div style="clear: both;" class="black"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div> 
	  <div></div> 
	  <div></div> 
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div> 
	  <div class="green"></div>
	  <div class="black"></div>
	  <div style="clear: both;" class="black"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div> 
	  <div></div> 
	  <div></div> 
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div class="green"></div>
	  <div class="black"></div>
	  <div style="clear: both;" class="black"></div>
	  <div></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div> 
	  <div></div> 
	  <div></div> 
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div></div> 
	  <div></div> 
	  <div class="black"></div>
	  <div style="clear: both;" class="black"></div>
	  <div></div>
	  <div></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div></div> 
	  <div></div> 
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div>
	  <div></div> 
	  <div></div> 
	  <div class="black"></div>
	  <div style="clear: both;" class="black"></div>
	  <div></div>
	  <div></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div></div>
	  <div></div> 
	  <div class="green"></div>
	  <div class="black"></div>
	  <div style="clear: both;" class="black"></div>
	  <div></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="green"></div>
	  <div class="black"></div>
	  <div style="clear: both;"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>   
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div></div>
	  <div style="clear: both;"></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>   
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div style="clear: both;"></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>   
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div style="clear: both;"></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div></div>   
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div style="clear: both;"></div>
	  <div></div>
	  <div></div> 
	  <div></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div class="black"></div>
	  <div></div>
	  <div></div>   
	  <div></div>
	  <div></div>
	</div> -->

		
	<div class="container search">

		<h1 class="lead">Find a Movie!<small> Mario will get it for you! </small></h1>
		<form accept-charset="UTF-8" action="/results" method="post">
	    <label for="movie">Search for:</label>
	    <input class="btn btn-default btn-lg" id="movie" name="movie" type="text" /> 
	    <input class="btn btn-primary btn-lg" name="commit" type="submit" value="Search" /> 
	  	</form>
	</div>

</div>









