
<div class="row" > 

	 

	<div class="jumbotron container-search-page ">
		<h1>Find a Movie!</h1>
	  	<p>Mario will get it for you!</p>
		<p><form class="navbar-form" accept-charset="UTF-8" action="/results" method="post">
	    <label for="movie">Search for:</label>
	    <input class="btn btn-default btn-lg img-responsive" placeholder="Search"id="movie" name="movie" type="text"/> 
	    <input class="btn btn-primary btn-lg img-responsive" name="commit" type="submit" value="Search" /> 
	  	</form></p>
	</div>


</div>









