<%# this is where I show the search results %>

<%# do I sort here?     # @movie = movie["Search"].sort_by{|movie| movie["Year"]} %>



<div class="container result row">

	<div>
		<h1>Movie results for </h1>
			<ul class="unstyled">
				<% @movies["Search"].map do |movie| %>	
				<li class="unstyled"><a href=/movie/<%= movie["imdbID"]%> > 
				<%= "#{movie["Title"]} (#{movie["Year"]}) #{movie["Poster"]}"%> 
					</a></li>

				<% end %>
			</ul>
	</div>
</div>











