<%# this is where I show the search results %>

<%# do I sort here?     # @movie = movie["Search"].sort_by{|movie| movie["Year"]} %>



<div class="container result">


<table class="table table-hover">
	<tr>
		<th><h3>Movie results for </h3></th> 
	</tr>
		<% @movies["Search"].map do |movie| %>	
	<tr>
		<td><a class="text-center" href=/movie/<%= movie["imdbID"]%> > 
		<%= "#{movie["Title"]} (#{movie["Year"]}) #{movie["Poster"]}"%> 
			</a>
		</td>
	</tr>
		<% end %>
</table>

</div>











