

<div class="container result row">

	<div>
		<h2>Movie results for </h2>
			<ul class="unstyled">
				<% imdbID_list =[] %>
				<% @movies["Search"].map do |movie| %>	
				<li class="lead"><a href=/movie/<%= movie["imdbID"]%> > 
					
					<% imdb = imdb_pull(:i,movie["imdbID"]) %>
					<img class="img" src=
					<%=  imdb["Poster"]=="N/A" ? "http://memeshare.net/memes/12/11061.png" : imdb["Poster"] %> 
					width="40px" style="vertical-align: bottom;">
				
				<%= "#{movie["Title"]} (#{movie["Year"]})"%>
				<% end %>
				</a></li>
			</ul>

			<!-- <ul>
				<%# imdbID_list.map do |movie| %>
				<%# imdb = imdb_pull(:i,movie) %>
				<li>
				<!-- <a href=http://www.imdb.com/title/<%# imdb["Poster"]%>> -->
				<!-- <img class="img img-responsive" src= -->
				<%#=  imdb["Poster"]=="N/A" ? "http://memeshare.net/memes/12/11061.png" : imdb["Poster"] %> 
				<!-- height="auto" width="75px"></li> -->
				<%# end %>
			<!-- </ul>  -->
	</div>
</div>




